<div>
    <h2 id="page-heading">
        <span jhiTranslate="sortyquizzApp.userPack.home.title">User Packs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-pack" [routerLink]="['/user-pack/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sortyquizzApp.userPack.home.createLabel">
            Create a new User Pack
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userPacks?.length === 0">
        <span jhiTranslate="sortyquizzApp.userPack.home.notFound">No userPacks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userPacks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="state"><span jhiTranslate="sortyquizzApp.userPack.state">State</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lifeLeft"><span jhiTranslate="sortyquizzApp.userPack.lifeLeft">Life Left</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nbQuestionsToSucceed"><span jhiTranslate="sortyquizzApp.userPack.nbQuestionsToSucceed">Nb Questions To Succeed</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="timeAtQuizzStep"><span jhiTranslate="sortyquizzApp.userPack.timeAtQuizzStep">Time At Quizz Step</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="timeAtSortingStep"><span jhiTranslate="sortyquizzApp.userPack.timeAtSortingStep">Time At Sorting Step</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="profileId"><span jhiTranslate="sortyquizzApp.userPack.profile">Profile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="packId"><span jhiTranslate="sortyquizzApp.userPack.pack">Pack</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let userPack of userPacks ;trackBy: trackId">
                    <td><a [routerLink]="['/user-pack', userPack.id, 'view']">{{ userPack.id }}</a></td>
                    <td jhiTranslate="{{ 'sortyquizzApp.PackState.' + userPack.state }}">{{ userPack.state }}</td>
                    <td>{{ userPack.lifeLeft }}</td>
                    <td>{{ userPack.nbQuestionsToSucceed }}</td>
                    <td>{{ userPack.timeAtQuizzStep }}</td>
                    <td>{{ userPack.timeAtSortingStep }}</td>
                    <td>
                        <div *ngIf="userPack.profileId">
                            <a [routerLink]="['/profile', userPack.profileId , 'view']" >{{ userPack.profileId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="userPack.packId">
                            <a [routerLink]="['/pack', userPack.packId , 'view']" >{{ userPack.packId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-pack', userPack.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-pack', userPack.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userPack)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
