<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="answer">
            <h2><span jhiTranslate="sortyquizzApp.answer.detail.title">Answer</span> {{ answer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sortyquizzApp.answer.answer">Answer</span></dt>
                <dd>
                    <span>{{ answer.answer }}</span>
                </dd>
                <dt><span jhiTranslate="sortyquizzApp.answer.order">Order</span></dt>
                <dd>
                    <span>{{ answer.order }}</span>
                </dd>
                <dt><span jhiTranslate="sortyquizzApp.answer.isTheRightAnswer">Is The Right Answer</span></dt>
                <dd>
                    <span>{{ answer.isTheRightAnswer }}</span>
                </dd>
                <dt><span jhiTranslate="sortyquizzApp.answer.question">Question</span></dt>
                <dd>
                    <div *ngIf="answer.questionId">
                        <a [routerLink]="['/question', answer.questionId, 'view']">{{ answer.questionId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/answer', answer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
