<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pack">
            <h2><span jhiTranslate="sortyquizzApp.pack.detail.title">Pack</span> {{ pack.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sortyquizzApp.pack.name">Name</span></dt>
                <dd>
                    <span>{{ pack.name }}</span>
                </dd>
                <dt><span jhiTranslate="sortyquizzApp.pack.level">Level</span></dt>
                <dd>
                    <span>{{ pack.level }}</span>
                </dd>
                <dt><span jhiTranslate="sortyquizzApp.pack.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'sortyquizzApp.PackType.' + pack.type }}">{{ pack.type }}</span>
                </dd>
                <dt><span jhiTranslate="sortyquizzApp.pack.life">Life</span></dt>
                <dd>
                    <span>{{ pack.life }}</span>
                </dd>
                <dt><span jhiTranslate="sortyquizzApp.pack.rule">Rule</span></dt>
                <dd>
                    <div *ngIf="pack.ruleId">
                        <a [routerLink]="['/rule', pack.ruleId, 'view']">{{ pack.ruleId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sortyquizzApp.pack.theme">Theme</span></dt>
                <dd>
                    <div *ngIf="pack.themeId">
                        <a [routerLink]="['/theme', pack.themeId, 'view']">{{ pack.themeId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pack', pack.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
