<div>
    <h2 id="page-heading">
        <span jhiTranslate="sortyquizzApp.card.home.title">Cards</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-card" [routerLink]="['/card/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sortyquizzApp.card.home.createLabel">
            Create a new Card
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cards?.length === 0">
        <span jhiTranslate="sortyquizzApp.card.home.notFound">No cards found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cards?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="sortyquizzApp.card.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="level"><span jhiTranslate="sortyquizzApp.card.level">Level</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="picture"><span jhiTranslate="sortyquizzApp.card.picture">Picture</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="order"><span jhiTranslate="sortyquizzApp.card.order">Order</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="packId"><span jhiTranslate="sortyquizzApp.card.pack">Pack</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let card of cards ;trackBy: trackId">
                    <td><a [routerLink]="['/card', card.id, 'view']">{{ card.id }}</a></td>
                    <td>{{ card.name }}</td>
                    <td>{{ card.level }}</td>
                    <td>
                        <a *ngIf="card.picture" (click)="openFile(card.pictureContentType, card.picture)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="card.picture">{{ card.pictureContentType }}, {{ byteSize(card.picture) }}</span>
                    </td>
                    <td>{{ card.order }}</td>
                    <td>
                        <div *ngIf="card.packId">
                            <a [routerLink]="['/pack', card.packId , 'view']" >{{ card.packId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/card', card.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/card', card.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(card)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
