<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-card-heading" jhiTranslate="sortyquizzApp.card.home.createOrEditLabel">Create or edit a Card</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sortyquizzApp.card.display" for="field_display">Display</label>
                    <input type="text" class="form-control" name="display" id="field_display"
                           formControlName="display"/>
                    <div *ngIf="editForm.get('display')!.invalid && (editForm.get('display')!.dirty || editForm.get('display')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('display')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sortyquizzApp.card.valueToSort" for="field_valueToSort">Value To Sort</label>
                    <input type="text" class="form-control" name="valueToSort" id="field_valueToSort"
                           formControlName="valueToSort"/>
                    <div *ngIf="editForm.get('valueToSort')!.invalid && (editForm.get('valueToSort')!.dirty || editForm.get('valueToSort')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valueToSort')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sortyquizzApp.card.valueType" for="field_valueType">Value Type</label>
                    <select class="form-control" name="valueType" formControlName="valueType" id="field_valueType">
                        <option value="DATE">{{ 'sortyquizzApp.ValueType.DATE' | translate }}</option>
                        <option value="NUMBER">{{ 'sortyquizzApp.ValueType.NUMBER' | translate }}</option>
                        <option value="STRING">{{ 'sortyquizzApp.ValueType.STRING' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('valueType')!.invalid && (editForm.get('valueType')!.dirty || editForm.get('valueType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valueType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sortyquizzApp.card.picture" for="field_picture">Picture</label>
                    <div>
                        <div *ngIf="editForm.get('picture')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('pictureContentType')!.value, editForm.get('picture')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('pictureContentType')!.value }}, {{ byteSize(editForm.get('picture')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({picture: null});editForm.patchValue({pictureContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_picture" (change)="setFileData($event, 'picture', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="picture" id="field_picture"
                           formControlName="picture"/>
                    <input type="hidden" class="form-control" name="pictureContentType" id="field_pictureContentType"
                           formControlName="pictureContentType" />
                    <div *ngIf="editForm.get('picture')!.invalid && (editForm.get('picture')!.dirty || editForm.get('picture')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('picture')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sortyquizzApp.card.sortingType" for="field_sortingType">Sorting Type</label>
                    <select class="form-control" name="sortingType" formControlName="sortingType" id="field_sortingType">
                        <option value="NATURAL">{{ 'sortyquizzApp.SortingType.NATURAL' | translate }}</option>
                        <option value="MANUAL">{{ 'sortyquizzApp.SortingType.MANUAL' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('sortingType')!.invalid && (editForm.get('sortingType')!.dirty || editForm.get('sortingType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sortingType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sortyquizzApp.card.order" for="field_order">Order</label>
                    <input type="number" class="form-control" name="order" id="field_order"
                           formControlName="order"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sortyquizzApp.card.pack" for="field_pack">Pack</label>
                    <select class="form-control" id="field_pack" name="pack" formControlName="packId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="packOption.id" *ngFor="let packOption of packs; trackBy: trackById">{{ packOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
