<div>
    <h2 id="page-heading">
        <span jhiTranslate="sortyquizzApp.themeScore.home.title">Theme Scores</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-theme-score" [routerLink]="['/theme-score/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sortyquizzApp.themeScore.home.createLabel">
            Create a new Theme Score
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="themeScores?.length === 0">
        <span jhiTranslate="sortyquizzApp.themeScore.home.notFound">No themeScores found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="themeScores?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="xp"><span jhiTranslate="sortyquizzApp.themeScore.xp">Xp</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="level"><span jhiTranslate="sortyquizzApp.themeScore.level">Level</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="profileId"><span jhiTranslate="sortyquizzApp.themeScore.profile">Profile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="themeName"><span jhiTranslate="sortyquizzApp.themeScore.theme">Theme</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let themeScore of themeScores ;trackBy: trackId">
                    <td><a [routerLink]="['/theme-score', themeScore.id, 'view']">{{ themeScore.id }}</a></td>
                    <td>{{ themeScore.xp }}</td>
                    <td>{{ themeScore.level }}</td>
                    <td>
                        <div *ngIf="themeScore.profileId">
                            <a [routerLink]="['/profile', themeScore.profileId , 'view']" >{{ themeScore.profileId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="themeScore.themeId">
                            <a [routerLink]="['/theme', themeScore.themeId , 'view']" >{{ themeScore.themeName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/theme-score', themeScore.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/theme-score', themeScore.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(themeScore)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
